/* You can add global styles to this file, and also import other style files */

@use "flag-icons/sass/flag-icons" with (
  $flag-icons-path: 'flag-icons/flags',
  $flag-icons-use-square: false
);

//@import "gaxon/scss/main";
@use  "scss/core/base/scrollbars";