/* You can add global styles to this file, and also import other style files */

$flag-icon-css-path: '~flag-icons/flags' !default;
@import "flag-icons/sass/flag-icons";

//@import "gaxon/scss/main";
